<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Conda</key>
			<dict>
				<key>date</key>
				<date>2022-01-31T15:41:01Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Conda</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Conda</string>
				</dict>
			</dict>
			<key>Python_Exceptions</key>
			<dict>
				<key>date</key>
				<date>2022-01-31T15:41:02Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Python Exceptions</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Python_Exceptions</string>
				</dict>
			</dict>
			<key>Python_Format_Strings</key>
			<dict>
				<key>date</key>
				<date>2022-01-31T15:41:02Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Python Format Strings</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Python_Format_Strings</string>
				</dict>
			</dict>
			<key>iTerm2</key>
			<dict>
				<key>date</key>
				<date>2023-03-15T15:02:32Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>iTerm2</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>iTerm2</string>
				</dict>
			</dict>
			<key>tmux</key>
			<dict>
				<key>date</key>
				<date>2022-01-31T15:41:02Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>tmux</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>tmux</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>BigQuery_Standard_SQL</key>
			<dict>
				<key>date</key>
				<date>2023-10-22T16:01:03Z</date>
				<key>entry</key>
				<dict>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/BigQuery_Standard_SQL#readme</string>
					<key>authorLinkText</key>
					<string>Akinori MUSHA</string>
					<key>name</key>
					<string>BigQuery Standard SQL</string>
					<key>platform</key>
					<string>usercontribBigQuery_Standard_SQL</string>
					<key>uniqueIdentifier</key>
					<string>BigQuery_Standard_SQL</string>
				</dict>
			</dict>
			<key>Keras</key>
			<dict>
				<key>date</key>
				<date>2023-05-05T14:24:18Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Keras</string>
						<string>Deep Learning</string>
						<string>Machine Learning</string>
						<string>Theano</string>
						<string>TensorFlow</string>
						<string>Neural Networks</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Keras#readme</string>
					<key>authorLinkText</key>
					<string>Kyung Mo Kweon</string>
					<key>name</key>
					<string>Keras</string>
					<key>platform</key>
					<string>usercontribKeras</string>
					<key>uniqueIdentifier</key>
					<string>Keras</string>
				</dict>
			</dict>
			<key>LightGBM</key>
			<dict>
				<key>date</key>
				<date>2022-09-13T14:47:46Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>lgbm</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/LightGBM#readme</string>
					<key>authorLinkText</key>
					<string>Kindulov M.</string>
					<key>name</key>
					<string>LightGBM</string>
					<key>platform</key>
					<string>usercontribLightGBM</string>
					<key>uniqueIdentifier</key>
					<string>LightGBM</string>
				</dict>
			</dict>
			<key>NLTK</key>
			<dict>
				<key>date</key>
				<date>2023-10-22T16:01:21Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Python</string>
						<string>NLTK</string>
						<string>Natural Language ToolKit</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/NLTK#readme</string>
					<key>authorLinkText</key>
					<string>Aziz Alto</string>
					<key>name</key>
					<string>NLTK</string>
					<key>platform</key>
					<string>usercontribNLTK</string>
					<key>uniqueIdentifier</key>
					<string>NLTK</string>
				</dict>
			</dict>
			<key>Scikit</key>
			<dict>
				<key>date</key>
				<date>2023-10-22T16:01:08Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Scikit#readme</string>
					<key>authorLinkText</key>
					<string>Tianshu Wang, Aziz Alto, Josh Devlin, Christian Stade-Schuldt, Joel Nothman</string>
					<key>name</key>
					<string>scikit-learn</string>
					<key>platform</key>
					<string>usercontribScikit</string>
					<key>uniqueIdentifier</key>
					<string>Scikit</string>
				</dict>
			</dict>
			<key>Seaborn</key>
			<dict>
				<key>date</key>
				<date>2023-10-22T16:01:26Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>python</string>
						<string>graph</string>
						<string>matplotlib</string>
						<string>visualization</string>
						<string>data</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Seaborn#readme</string>
					<key>authorLinkText</key>
					<string>Paulo S. Costa</string>
					<key>name</key>
					<string>seaborn</string>
					<key>platform</key>
					<string>usercontribSeaborn</string>
					<key>uniqueIdentifier</key>
					<string>Seaborn</string>
				</dict>
			</dict>
			<key>TensorFlow_2</key>
			<dict>
				<key>date</key>
				<date>2021-05-27T02:29:02Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/TensorFlow_2#readme</string>
					<key>authorLinkText</key>
					<string>Reuben Morais</string>
					<key>majorVersioned</key>
					<true/>
					<key>name</key>
					<string>TensorFlow 2</string>
					<key>platform</key>
					<string>usercontribTensorFlow_2</string>
					<key>uniqueIdentifier</key>
					<string>TensorFlow_2</string>
				</dict>
			</dict>
			<key>pyspark</key>
			<dict>
				<key>date</key>
				<date>2021-07-07T19:59:21Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Spark</string>
						<string>MLlib</string>
						<string>GraphX</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/pyspark#readme</string>
					<key>authorLinkText</key>
					<string>Tomas Kunka</string>
					<key>name</key>
					<string>pyspark</string>
					<key>platform</key>
					<string>usercontribpyspark</string>
					<key>uniqueIdentifier</key>
					<string>pyspark</string>
				</dict>
			</dict>
			<key>statsmodels</key>
			<dict>
				<key>date</key>
				<date>2023-05-12T13:25:01Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Statsmodels</string>
						<string>statsmodels</string>
						<string>Statsmodels 0.13.1</string>
						<string>statsmodels 0.13.1</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/statsmodels#readme</string>
					<key>authorLinkText</key>
					<string>Angelo Varlotta</string>
					<key>name</key>
					<string>statsmodels</string>
					<key>platform</key>
					<string>usercontribstatsmodels</string>
					<key>uniqueIdentifier</key>
					<string>statsmodels</string>
				</dict>
			</dict>
			<key>xgboost</key>
			<dict>
				<key>date</key>
				<date>2022-09-13T14:47:34Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>XGBoost 1.2.0</string>
						<string>xgboost 1.2.0</string>
						<string>XGBoost</string>
						<string>xgboost</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/xgboost#readme</string>
					<key>authorLinkText</key>
					<string>Angelo Varlotta</string>
					<key>name</key>
					<string>XGBoost</string>
					<key>platform</key>
					<string>usercontribxgboost</string>
					<key>uniqueIdentifier</key>
					<string>xgboost</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>Boto3</key>
			<dict>
				<key>date</key>
				<date>2022-08-16T17:11:29Z</date>
				<key>entry</key>
				<dict>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Boto3#readme</string>
					<key>authorLinkText</key>
					<string>Randall Kahler</string>
					<key>name</key>
					<string>boto3</string>
					<key>platform</key>
					<string>usercontribBoto3</string>
					<key>uniqueIdentifier</key>
					<string>Boto3</string>
				</dict>
			</dict>
			<key>NetworkX</key>
			<dict>
				<key>date</key>
				<date>2021-04-28T13:26:48Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/NetworkX#readme</string>
					<key>authorLinkText</key>
					<string>AllanLRH</string>
					<key>name</key>
					<string>NetworkX</string>
					<key>platform</key>
					<string>usercontribNetworkX</string>
					<key>uniqueIdentifier</key>
					<string>NetworkX</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHWKWebViewTextSizeMultiplier</key>
	<real>1</real>
	<key>actuallyDarkWebView</key>
	<true/>
	<key>annotationsAreShown</key>
	<false/>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict>
			<key>~/Library/Application Support/Dash/DocSets/MatPlotLib/Matplotlib.docset</key>
			<string>plt</string>
			<key>~/Library/Application Support/Dash/DocSets/NumPy/NumPy.docset</key>
			<string>np</string>
			<key>~/Library/Application Support/Dash/DocSets/Pandas/Pandas.docset</key>
			<string>pd</string>
			<key>~/Library/Application Support/Dash/DocSets/PostgreSQL/PostgreSQL.docset</key>
			<string>psql</string>
			<key>~/Library/Application Support/Dash/DocSets/Python_3/Python 3.docset</key>
			<string>python</string>
			<key>~/Library/Application Support/Dash/User Contributed/BigQuery Standard SQL/BigQuery_Standard_SQL.docset</key>
			<string>bq:</string>
			<key>~/Library/Application Support/Dash/User Contributed/TensorFlow 2/TensorFlow 2.docset</key>
			<string>tf</string>
			<key>~/Library/Application Support/Dash/User Contributed/XGBoost/XGBoost 1.2.0.docset</key>
			<string>xgboost:</string>
			<key>~/Library/Application Support/Dash/User Contributed/scikitlearn/scikit-learn.docset</key>
			<string>sklearn</string>
			<key>~/Library/Application Support/Dash/User Contributed/seaborn/seaborn 0.11.0.docset</key>
			<string>sns</string>
			<key>~/Library/Application Support/Dash/User Contributed/statsmodels/statsmodels 0.12.0.docset</key>
			<string>statsmodels</string>
		</dict>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Julia.xml</key>
			<dict>
				<key>date</key>
				<date>2020-09-24T18:07:53Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MatPlotLib.xml</key>
			<dict>
				<key>date</key>
				<date>2020-06-11T19:48:42Z</date>
			</dict>
			<key>http://kapeli.com/feeds/NumPy.xml</key>
			<dict>
				<key>date</key>
				<date>2020-06-11T19:48:16Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Pandas.xml</key>
			<dict>
				<key>date</key>
				<date>2020-06-11T19:48:26Z</date>
			</dict>
			<key>http://kapeli.com/feeds/PostgreSQL.xml</key>
			<dict>
				<key>date</key>
				<date>2021-10-12T14:37:54Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Python_3.xml</key>
			<dict>
				<key>date</key>
				<date>2020-06-11T19:53:36Z</date>
			</dict>
			<key>http://kapeli.com/feeds/R.xml</key>
			<dict>
				<key>date</key>
				<date>2022-01-12T18:47:34Z</date>
			</dict>
			<key>http://kapeli.com/feeds/SciPy.xml</key>
			<dict>
				<key>date</key>
				<date>2020-06-11T20:07:27Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>placeholder</key>
			<string>sea</string>
			<key>searchSnippets</key>
			<false/>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
	</array>
	<key>searchAndFocusKey</key>
	<dict>
		<key>keyCode</key>
		<integer>2</integer>
		<key>modifiers</key>
		<integer>2560</integer>
	</dict>
	<key>searchKey</key>
	<dict>
		<key>keyCode</key>
		<integer>2</integer>
		<key>modifiers</key>
		<integer>768</integer>
	</dict>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<true/>
	<key>shouldStartAtLogin</key>
	<false/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showInDock</key>
	<true/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>NetworkX</key>
			<dict/>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>NetworkX</key>
			<dict>
				<key>1.11</key>
				<dict>
					<key>date</key>
					<date>2021-04-28T13:27:05Z</date>
					<key>entry</key>
					<dict>
						<key>aliases</key>
						<array/>
						<key>authorLinkHref</key>
						<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/NetworkX#readme</string>
						<key>authorLinkText</key>
						<string>AllanLRH</string>
						<key>name</key>
						<string>NetworkX</string>
						<key>platform</key>
						<string>usercontribNetworkX</string>
						<key>uniqueIdentifier</key>
						<string>NetworkX</string>
					</dict>
				</dict>
				<key>2.1</key>
				<dict>
					<key>date</key>
					<date>2021-04-28T13:26:44Z</date>
					<key>entry</key>
					<dict>
						<key>aliases</key>
						<array/>
						<key>authorLinkHref</key>
						<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/NetworkX#readme</string>
						<key>authorLinkText</key>
						<string>AllanLRH</string>
						<key>name</key>
						<string>NetworkX</string>
						<key>platform</key>
						<string>usercontribNetworkX</string>
						<key>uniqueIdentifier</key>
						<string>NetworkX</string>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Python_3.xml</key>
			<dict/>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>http://kapeli.com/feeds/Python_3.xml</key>
			<dict>
				<key>3.6.5</key>
				<dict>
					<key>date</key>
					<date>2021-04-28T13:26:01Z</date>
				</dict>
				<key>3.7.12</key>
				<dict>
					<key>date</key>
					<date>2022-08-16T17:12:12Z</date>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
